<%- include('head') %>
<body>
   <p>name: <%=profile.name%></p>
   <p>lname: <%=profile.lname%></p>

   <form action="/post" method="post">
       <input type="text" name="post" />
       <button type="submit">Post!</button>
   </form>

   <%- include('post', {post:posts}) %>
</body>
</html>
<%- include('foot', {body: profile}); %>
